{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 section" id="footer" >
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-3">
                        <p class="footerHeading">CONTACT</p>
                        <p>
                            Berliner Straße 10, <br/>
                            Oranienburg
                        </p>
                        <p>
                            Tel: 000111222333
                        </p>
                        <p>
                            E-Mail: example@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}